html,
body {
  overflow: hidden;
}

body {
  margin: 0;
}

canvas {
  margin: auto;
}

#media {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

#settings {
  margin: 20px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  z-index: 101;
  font-family: "Noto Sans JP";
}

#control {
  z-index: 102;
}

#pop {
  display: inline;
  z-index: -100;
}

.active {
  display: block !important;
}

.inactive {
  display: none !important;
}
