body {
  margin: 0;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: -100;
}

#control {
  margin: 20px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 201;
  font-family: "Noto Sans JP";
}

#control > button {
  margin-right: 5px;
  font-size: 15px;
}
#control > button:last-child {
  margin-right: 0;
}

#settings {
  margin: 20px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255);
  display: none;
  z-index: 201;
  font-family: "Noto Sans JP";
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer > p {
  margin-left: 10px;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
}

#header > p {
  margin-left: 10px;
}

canvas {
  margin: auto;
}

#media {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 200;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  z-index: 300;
}

#overlay > * {
  margin: auto;
}

#message {
  display: none;
}

#control {
  display: none;
  z-index: 201;
}

#dummy {
  opacity: 0;
}

.inactive {
  display: none !important;
}
.active {
  display: block !important;
}
